{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
</head>
<body>
    <h1>Ваша корзина</h1>
   <ul>
    {% if cart_items %}
        {% for item in cart_items %}
            <li>
                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                <h2>{{ item.product.name }}</h2>
                <p>Miqdori: {{ item.quantity }}</p>
                <p>Umumiy narxi: ${{ item.get_total_price }}</p>
            </li>
        {% endfor %}
        <p>Jami narx: ${{ total_price }}</p> <!-- Umumiy savatcha narxi -->
        {% else %}
            <li>Ваша корзина пуста.</li>
        {% endif %}
    </ul>
    <a href="{% url 'place_order' %}">Оформить заказ</a>
</body>
</html>
